p {
      color: rgba(0, 255, 255, 0.69);
      font-size: 42px;
    }
    
    body {
      background-color: rgb(255, 255, 255);
    }
    
    h1 {
      font-size: 3em;
    }
    div {
      padding: 20px;
      margin: 10px;
    }
    
 img {width: 450px;
     height: 330px;
}

div {
      padding: 20px;
      margin: 10px;
    }

    table {
      width: 35%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 5px solid #4956ce;
      padding: 15px;
      text-align: middle;
    }
    
    th {
      background-color: #207cfc;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 15px;
      border: 3px solid #ddd;
      border-radius: 15px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }