p {
      color: rgba(0, 255, 255, 0.69);
      font-size: 42px;
    }
    
    body {
      background-color: rgb(255, 255, 255);
    }
    
    h1 {
      font-size: 3em;
    }
    
    div {
      padding: 20px;
      margin: 10px;
    }
    
 img {width: 450px;
     height: 330px;
}

div {
      padding: 20px;
      margin: 10px;
    }

    table {
      width: 35%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 5px solid #4956ce;
      padding: 15px;
      text-align: middle;
    }
    
    th {
      background-color: #207cfc;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 15px;
      border: 3px solid #ddd;
      border-radius: 15px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .transition-button {
        background-color: rgb(1, 186, 247);
        padding: 40px 60px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .transition-button:hover {
        background-color: rgb(240, 10, 10);
      }

      
      .animation-box {
        width: 50px;
        height: 50px;
        background-color: rgb(168, 6, 255);
        position: relative;
        animation: move 3s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 100px;
        }  
                    }


      .pseudo-list li:nth-child(odd) {
        background-color: lightgray;
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: white;
      }
      
      .filter-image {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
      }


      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        content: '';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: lightgray;
      }